#vim ft:yaml

wso2am:
  database:
    host: mariadb.local
    user: regadmin
    password: regadmin

  ldap:
    host: key-manager.local
    port: 389
    root: cn=Manager,dc=wso2,dc=org
    password: admin

  keymanager:
    host: key-manager.local

  gateway:
    host: gateway.local
